/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/


/* Global styles
-------------------------*/


/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
  margin-top: 0;
}

h3 {
  margin: 0;
}

a {
  color: #EF233C;
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.col-narrow {
  width: 30%;
  float: left;
}

.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
}

.uppercase {
  text-transform: uppercase;
}


/* Header and Footer
-------------------------*/

header,
footer {
  background: #2B2D42;
  color: #8D99AE;
}


/* header */

header h1,
header h2 {
  color: #EDF2F4;
  margin: 0;
}

.profile-img {
  border-radius: 50%;
}


/* footer */

footer {
  text-align: center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}


/* Navigation
-------------------------*/

nav {
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}


/* Work Experience
-------------------------*/

.work {
  background: #EDF2F4;
}

h3~p {
  margin: 0;
}

.job-description {
  margin-bottom: 25px;
}

.job-description p:first-of-type {
  margin-top: 0;
}


/* Education
-------------------------*/

.education {
  background: #8D99AE;
}

p+h3 {
  margin-top: 30px;
}